<% include partials/header %>


<div class="jumbotron index">
	<div class="container-fluid">
		<div id="home-content">
			<div class="row">
				<div class="col-lg-12">
					<p id = "title">YelpCamp</p>
					<div>
						<a class = "btn btn-lg btn-default" href = "/campgrounds">Browse</a>	
					</div>		
				</div>
			</div>
		</div>
	</div>
</div>

<% include partials/footer %>
