#sec-colors > #my-navbar a {
	font-size: 24px;
}
nav.navbar.navbar-default .navbar-header > a#nav-title {
	font-size: 24px;
}

.thumbnail img {
    width : 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding : 10px;
}

.delete-form {
    display:inline;
}

#title {
	font-size: 90px;
	margin: 0 0 90px 0;
}

#home-content {
	font-family : 'Pompiere', cursive;
	text-align: center;
	margin: 60px 0 240px 0;
	color : white;
}

.jumbotron.index {
	background-image: url("https://images.unsplash.com/photo-1445308394109-4ec2920981b1?crop=entropy&dpr=1.5&fit=crop&fm=jpg&h=950&ixjsv=2.1.0&ixlib=rb-0.3.5&q=66&w=1725");
}

body {
	font-family : 'Pompiere', cursive;
	font-size: 24px;
	background: #ECE9E6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}